/****************************************************************************/
/* STILE DELLA SCHEDA DEL PERSONAGGIO */

/* HELP: Da qui è possibile modificare:
- I font ed i colori della scheda del personaggio
- Le dimensioni, l'aspetto e la posizione degli elementi della scheda
- Lo sfondo della scheda */

div.pagina_scheda{
   margin-left: auto;
   margin-right: auto;
   width: 520px;
}

div.pagina_scheda div.pagebody{
}

div.pagina_scheda a{
   /*font-weight: normal;*/
}

div.pagina_scheda div.form_info{
   font-style: italic;
}

/*Titoli dei box*/
div.pagina_scheda div.titolo_box{
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 13px;
   margin-bottom: 6px;
}

/*Box nome,ritratto,iscritto da, ultimo ingresso, scrivi a*/
div.ritratto{
   margin: 5px 5px 20px 3px;
   float: left;
   font-size: 12px;   
   width: 215px;
   height: 410px;
   text-align: center;
}

/*Nome PG*/
div.ritratto div.ritratto_nome{
   /*margin: 5px 0 0 0;*/
   font-size: 14px;
   font-weight: bold;
}

/*Immagine*/
div.ritratto div.ritratto_avatar{
   width: 200px;
   height:300px;
   margin: 0 7px 0 7px;
   overflow: hidden;
}

div.ritratto_avatar img{
   max-width: 200px;
   max-height:300px;
}

/*Link invia messaggio*/
div.ritratto div.ritratto_invia_messaggio{
   margin: 5px 0 0 0;
   
}

/*Box punteggi, razza, gilda, ruolo off*/
div.profilo{
   margin: 5px 3px 20px 5px;
   float: right;
   font-size: 12px;  
   width: 260px;
}

div.profilo div.profilo_voce{
   text-align: justify; 
   clear: both;
   height: 20px;
}

/*Nome campo*/
div.profilo_voce div.profilo_voce_label{
   width: 40%;
   float: left;
   margin-left: 5px;
}

/*Valore campo*/
div.profilo_voce div.profilo_voce_valore{
   text-align: right;
   width: 50%;
   float: right;
   margin-right: 5px;
}

/*Icone gilda*/
img.profilo_img_gilda{
   height: 15px;
   width: 15px;
}

/*Box status*/
div.profilo_status{
   margin: 5px 5px 5px 5px; 
   clear: both;
   height: 100px;
   text-align: justify;
   
}
/*Casella PF nei controlli master*/
div.form_field input.healt_input{
   width: 28px;
}

/*Box storia pg, box affetti*/
div.background{
   margin: 10px 3px 5px 3px;
   clear: both;
   overflow: hidden;
   width: 510px;
   
}

div.background img{
   max-width: 500px;
   
}

/*Menu' interno scheda*/
div.menu_scheda{
   margin: 0 3px 5px 5px;
   float: right; 
   text-align: center;
   font-size: 12px;  
   width: 500px;
   height: 30px;
  
}


/*Box abilità*/
div.elenco_abilita{
   margin: 10px auto 5px auto;
   clear: both;
 
}
div.elenco_abilita table{
   margin: 2px auto 5px auto;
 
}

div.elenco_abilita td{
   vertical-align: top;
}
div.abilita_scheda_nome{ 
  width: 110px;
  font-size: 12px;
  
}
div.abilita_scheda_car{
  width: 70px;
  font-size: 12px;
  
}
div.abilita_scheda_tank{
  width: 20px;
  font-size: 12px;
  
}
div.abilita_scheda_sub{
  width: 35px;
  font-size: 12px;
  
}

/****************************************************************************/

/****************************************************************************/
/* STILE DELLA PAGINA DI MODIFICA SCHEDA */

div.modifica_scheda{
   margin: 10px;
}

/****************************************************************************/

/****************************************************************************/
/* STILE DELLA PAGINA DI EQUIPAGGIAMENTO */

div.omino_bianco_box{
   margin-left: auto;
   margin-right: auto;
   width: 450px;
   height: 300px;
    text-align: center;
}

img.omino_bianco_img{
   margin-top: 40px;
   width: 300px;
   height: 226px;
}

div.omino_bianco_armdx{
   width: 49px;
   height: 36px;
   border: 1px dotted white;  
   margin-top: 5px;
}
div.omino_bianco_armdx img{
   width: 48px;
   height: 35px;
}


div.omino_bianco_armsx{
   width: 49px;
   height: 36px;
   border: 1px dotted white; 
   margin-top: 5px;
   margin-right: 0px;
}
div.omino_bianco_armsx img{
   width: 48px;
   height: 35px;
}

div.omino_bianco_chest{
   width: 75px;
   height: 50px;
   border: 1px dotted white;
   margin-top: 5px;
   margin-right: 0px;
}
div.omino_bianco_chest img{
   width: 74px;
   height: 49px;
}

div.omino_bianco_legs{
   width: 75px;
   height: 50px;
   border: 1px dotted white;
   margin-top: 5px;
}
div.omino_bianco_legs img{
   width: 74px;
   height: 49px;
   margin-right: 0px;
}

div.omino_bianco_feet{
   width: 63px;
   height: 46px;
   border: 1px dotted white;  
   margin-top: 5px;
}

div.omino_bianco_feet img{
   width: 62px;
   height: 45px;
}

div.omino_bianco_head{
   width: 63px;
   height: 46px;
   border: 1px dotted white;
   margin-top: 5px;
}

div.omino_bianco_head img{
   width: 62px;
   height: 45px;
}

div.omino_bianco_neck{
   width: 49px;
   height: 36px;
   border: 1px dotted white;
   margin-top: 5px;
}

div.omino_bianco_neck img{
   width: 48px;
   height: 35px;
}

div.omino_bianco_ring{
   width: 30px;
   height: 20px;
   border: 1px dotted white;
   margin-top: 5px;
}

div.omino_bianco_ring img{
   width: 29px;
   height: 19px;
}

/*Inventario*/
div.pagina_scheda_equip { }
div.pagina_scheda_oggetti { }
div.pagina_scheda_oggetti td.casella_elemento,
div.pagina_scheda_equip td.casella_elemento{  
  font-size: 12px;
  
  padding: 3px;
}
div.pagina_scheda_oggetti div.inventario_img img,
div.pagina_scheda_equip div.inventario_img img{
  height: 120px;
  width: 120px;
}
div.pagina_scheda_oggetti div.inventario_img,
div.pagina_scheda_equip div.inventario_img{
  width: 122px;
}
div.pagina_oggetti_equip div.inventario_nome,
div.pagina_scheda_equip div.inventario_nome{
  width: 122px;
}
div.pagina_scheda_oggetti div.inventario_quantita,
div.pagina_scheda_equip div.inventario_quantita{
  width: 122px;
}
div.pagina_scheda_oggetti div.inventario_nome,
div.pagina_scheda_equip div.inventario_nome{
  font-size: 12px;
  text-transform: uppercase;
}
div.pagina_scheda_oggetti div.form_label,
div.pagina_scheda_equip div.form_label{
  font-size: 12px;
  margin: 0;
}
div.pagina_scheda_oggetti input,
div.pagina_scheda_equip input{
  font-size: 12px;
  margin: 0;
}
div.inventario_riga_proprieta{
  width: 80px;
}
div.pagina_scheda_equip form,
div.pagina_scheda_oggetti form{ 
 text-align: center;
 margin: 0 0 4px 0;
}

/****************************************************************************/

