/*** FORUMS LIST ***/
.forum_list_table .td {
    width: 45%;
}

/*** FORUM POSTS LIST ***/
.forum_posts_table .td {
    width: 24%;
}

.forum_posts_table .td.title span {
    margin-right: 5px;
}

.forum_posts_table .td.title span.important {
    color: #fffa86;
}

.forum_posts_table .td.title span.closed {
    color: firebrick;
}

.forum_posts_table .to_read {
    color: white;
    margin-left: 5px;
}

/*** FORUM POST ***/

.forum_post {
    overflow: auto;
}

/*** FORUM POST COMMANDS ***/

.forum_post .forum_post_commands {
    font-size: 15px;
    display: flex;
    background: #23272a;
    color: #ccc;
    padding: 5px 10px;
}

.forum_post .forum_post_commands .single_command {
    margin-right: 10px;
}

.forum_post .forum_post_commands .single_command button,
.forum_post .forum_post_commands .single_command a {
    color: #ccc;
}

.forum_post .forum_post_commands .single_command:hover,
.forum_post .forum_post_commands .single_command a:hover,
.forum_post .forum_post_commands .single_command button:hover {
    color: white;
    cursor: pointer;
}

.forum_post .forum_post_commands .single_command .lock_closed {
    color: firebrick;
}

.forum_post .forum_post_commands .single_command .lock_open {
    color: lightgreen;
}

.forum_post .forum_post_commands .single_command .important {
    color: #eeebc7;
}

.forum_post .forum_post_commands .single_command .not_important {
    color: #989443;
}

.forum_post .forum_post_commands button {
    background: transparent;
    width: auto;
    border: none;
    padding: 0;
}

/*** FORUM POST LIST ***/
.forum_post_container .forum_post .single_forum_post {
    position: relative;
}

.forum_post_container .forum_post .single_forum_post.deleted:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: 'DELETED';
    background: rgba(178, 34, 34, 0.3);
    z-index: 1;
    color: red;
    text-align: right;
    padding: 8px 10px 0 0;
    box-sizing: border-box;
    pointer-events: none;
}

.forum_post_container .forum_post .single_forum_post .bottom_box {
    background: #7289da;
    border: 1px solid black;
    padding: 10px 0;
    min-height: 120px;
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_left {
    width: 150px;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_left .avatar {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_left .avatar img {
    display: block;
    width: 100%;
    height: 100%;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_left .name,
.forum_post_container .forum_post .single_forum_post .bottom_box .post_left .date {
    margin: 5px 0;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_left a {
    color: #ccc;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_left a:hover {
    color: white;
    text-decoration: none;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_right {
    width: calc(100% - 150px);
    border-left: 1px solid black;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_right .updated_at {
    margin-top: 20px;
    font-style: italic;
}

.forum_post_container .forum_post .single_forum_post .bottom_box .post_right .updated_at a{
    color: #ccc;
}

.forum_post_container .comment_button {
    width: 100%;
    background: #23272a;
}

.forum_post_container .comment_button a {
    color: #ccc;
}

.forum_post_container .comment_button a:hover {
    color: white;
}

/***** GESTIONE ******/

.visual_result .td {
    width: 32%;
}