.presenti_mini_box .presenti_link{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.presenti_mini_box .box_presenti{
    width: 95%;
    margin: 0 auto;
}


.presenti_mini_box .box_presenti a:hover{
    font-weight: normal;
}


.presenti_mini_box .box_presenti .single_presente{
    margin: 5px 0;
}