/** * Skin Advanced
	* Il presente files regola gli stili CSS della homepage
	* @author Blancks
*/

/** * STILI DEI CONTENUTI DEL SITO */
/** * Skin advanced
	* @author Blancks
*/

/** * Parametri di default nella pagina
*/
html
{
height:100%;
position:relative;	
}

body {
	background: var(--main-background);	
	color: var(--colore-001);
	font-family: var(--font-family-default);
	font-size: var(--font-size-default);
	letter-spacing:var(--letter-spacing-default);
	line-height:var(--line-height-default);
	margin: 0;
	padding: 0;	
	
	.transparent_body{
		background-color: transparent;
		background-image: none;
	}	
}

div, 
ul, 
li{
    margin: 0;
    padding: 0;
}

.blank {
    clear: both;
}

a{
	&,
	&:visited{ 
		color: var(--link-color-default);
		text-decoration: underline;	
		font-weight:bolder;
	}

	&:hover{
		color: var(--link-color-hover-default);
	}	
}

div.form_field table {
    margin: 5px auto;
    table-layout: fixed;
    width: 100%;
}

input, 
textarea, 
select {
    width: 80%;
    margin-bottom: 10px;
}

input[type='submit'] {
    width: auto;
    margin: 10px auto;
	padding:5px 20px;
	background: 
		linear-gradient(
			to bottom, 
			rgba(255,255,255,0.4) 0%,
			rgba(255,255,255,0.4) 50%,
			rgba(255,255,255,0.2) 50%,
			rgba(255,255,255,0) 100%
		),		
		var(--colore-004);
	
	border-top:var(--border-light);
	border-left:var(--border-light);
	border-bottom:var(--border-default);
	border-right:var(--border-default);
		
	&:hover{
		background: 
			linear-gradient(
				to bottom, 
				rgba(255,255,255,0.8) 0%,
				rgba(255,255,255,0.8) 50%,
				rgba(255,255,255,0.4) 50%,
				rgba(255,255,255,0.2) 100%
			),		
			var(--colore-004);
	}
	
	&:active{
		background: 
			linear-gradient(
				to bottom, 
				rgba(255,255,255,0.4) 0%,
				rgba(255,255,255,0.4) 50%,
				rgba(255,255,255,0.2) 50%,
				rgba(255,255,255,0) 100%
			),			
			linear-gradient(
				to bottom, 
				rgba(0,0,0,0.4) 0%,
				rgba(0,0,0,0.4) 100%
			),		
			var(--colore-004);
		border-top:var(--border-default);
		border-left:var(--border-default);
		border-bottom:var(--border-light);
		border-right:var(--border-light);
		color:var(--colore-002);
	}	
}

textarea {
    height: 100px;
}

div.form_label {
    font-size: 12px;
    font-weight: bolder;
    margin-top: 5px;
}

span.form_label {
    text-align: left;
}

div.form_info {
    font-size: 12px;
    margin-bottom: 15px;
}

div.form_submit
{
	text-align:center;
}

select.day, 
select.month, 
select.year {
    width: 60px;
    display: inline-block;
}

/** * Stile dei messaggi d'avviso dell'engine */
div.warning, 
div.error {
    background-color: #cf8888;
    font-size: 12px;
    text-align: center;
    margin: 15px;
    font-weight: bolder;
    padding: 10px;
    border: solid 1px #800;
    color: #970b0b;
	
	&.warning.mysql, 
	&.error.mysql{
		text-align:left;
		font-weight:normal;
	
		summary, 
		summary{
			margin-top:1em;
			font-weight:bold;
		}	
	
	}	
}




h1 {
    margin: 0;
    padding: 30px 0 0 76px;
    font-size: 36px;
    font-family: var(--h-font-family);
	
	/** * Stile del link sul titolo */	
	a{
		
		&,
		&:visited,
		&:hover{
			color: var(--link-color-default);
			text-decoration: none;			
		}
		
		
	}
	
}
h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 4px;
    border-bottom: var(--border-default);
    font-family: var(--h-font-family);	
}

h3{
    font-family: var(--h-font-family);
	margin:0;
    font-weight: normal;	
}




/** * LAYOUT SITO */

/** * Struttura contenitore di tutto il sito */
div#main {
	height: 100vh;
	width: 100%;
	background:var(--header-background);
	text-align: center;
	
	/** * Larghezza della struttura del sito */
	div#site_width {
		margin: 0 auto;
		width: 960px;
		text-align: left;
	
		/** * HEADER */
		div#header {
			height: var(--header-height);
			display:flex;

		
			& > div {

				height: 100%;
			}		
		
			.titlecontent {
				flex:1 1 auto;
				margin-left:5px;
				display:flex;
				flex-wrap:wrap;
				align-items:center;
				align-content:center;
				
				h1{
					padding: 0 0 0 var(--content-padding);
					
					a{
						
						
						img
						{
							display:block;
						}
					}
				}
			
				div.subtitle {
					flex:0 1 100%;
					margin-top:1em;
					margin-left: var(--content-padding);
					color: var(--colore-001);
					font-family: var(--font-family-default);
					font-size: var(--font-size-default);
				}			
			
			}		
		

		
		}	
		
		/** * Corpo contenuti della pagina	*/	
		div#content {  
		
			display:flex;
			flex-wrap:wrap;
 			background-color:var(--colore-002); 
			border-left:var(--border-default);
			border-right:var(--border-default);
			box-shadow: var(--box-shadow-default);			
			clip-path: inset(0 -20px 0 -20px); 
			padding: 0 var(--content-padding) 10px var(--content-padding);			
		
			/** * AREA LATERALE	*/
			div.sidecontent {  
			
				flex: 0 0 var(--sidecontent-width);
				
				/** Stile generico contenitore per altri contenuti nella sidebar */				
				div.side_modules {
					margin: 5px;
					background-color: var(--colore-004);
					color: var(--colore-001);
					padding: 10px;
					text-align: center;
					border-radius: 5px;
					overflow:hidden;
					
					&.nopad
					{

						padding:0;
					}
					
					.form_label {
						font-size: 10px;
						margin-right: 2px;
					}

				
				
				}
			
			
			}		
		
			/** * Struttura corpo contenuti pagina */
			div.content_body {
				/* calcola le dimensioni dell'elemento in base alle dimensioni degli altri elementi di content */
				flex:1 1 auto;
				padding: 10px;
				line-height:var(--content-line-height);
			
				flex: 1 1 calc(100% - var(--sidecontent-width) - (var(--content-padding) * 2)) ;
				
				h2
				{
					border-bottom: var(--border-default);
				}
				
			
			
			}		
		
		
		
		}

		/** * pie di pagina 	*/
		div#footer {
			border-left:var(--border-default);
			border-right:var(--border-default);			
			border-bottom:var(--border-default);			
			
			padding: 0px var(--content-padding) 0 var(--content-padding);
			box-shadow: var(--box-shadow-default);
			background-color:var(--colore-004);    
			clip-path: inset(0 -20px -20px -20px); 
			display:flex;
		
			& > div {
				flex:1 1 auto;
				padding:10px;
			}
			
			p {
				font-size: 10px;
				line-height:1.5em;
				margin: 0;
				text-align: center;
			}			
		
		}		
	
	}
	
}



/** *** Fine stili regolatori del layout *** */

/* INIZIO MODULI */

	/** * modulo per il login */
	div.logincontent{
		display:flex;
		align-items:center;
		align-content:center;		
		
		/** * Stili del form di login */
		div.login_form{

			
			padding:10px;
			/** * stile che ingloba i gruppi label/input */
			div {
				margin-bottom: 4px;
			}

			input {
				width: 145px;
				margin: 0;
				
				&[type=checkbox]{
					width: auto;
					vertical-align: middle;
					
				}
				
				/** * Stile per il bottone del login */		
				&[type='submit'] {
					display: block;
					margin:10px auto;
				}		
			}	
		}

	}	
	
	/** * Menù di navigazione */
	div.nav
	{
		ul {  
			margin:0;
			padding: 0px 0;
			list-style-type: none;
			text-align:left;
			
		
			/** * Contenitore delle voci nel menù **/
			li{
			
				/** * Link voce menù **/
				a{	

					/** * Link voce menù normali e visitati */
					&, 
					&:visited{
						color: var(--colore-001);
						text-decoration: none;
						display: block;
						background-color: transparent;
						text-transform:uppercase;
						padding-left:10px;
						padding-top:5px;
						padding-bottom:5px;
					}
					/** * Link voce menù al passaggio del mouse */				
					&:hover{
						background-color: var(--colore-003);
						color: var(--colore-002);
					}				

				}
			
			}	
		
		}

	}
	
	/** * Recupero password */
	div.pass_rec {
		
		input#passrecovery {

		}
		
		input[type='submit'] {
			margin: 0px;
		}	
	}

	/** * Tabella statistiche */
	div.stats {
		display:flex;
		padding:10px 0;
		flex-wrap:wrap;	
		justify-content:center;
		table.statistics {
			flex:1 1 100%;
			margin: 2px 2px;
			font-size: 10px;
			border-collapse: collapse;
			border:var(--border-default);
			
			/** * Stile di colorazione per definire le righe pari */
			tr:nth-child(odd) td {
				background-color: rgba(0,0,0,0);
			}
			tr:nth-child(even) td {
				background-color: rgba(255,255,255,0.4);
			}			

			td {

				text-align: left;
				padding: 2px;
				border:var(--border-default);
				
				&:nth-child(1) {
					font-weight: bolder;	
				}
				&:nth-child(2) {
					text-align: right;	
				}	
			}	
		}
	}
	
	div.user_regolamento, 
	div.user_ambientazione,
	div.user_razze{
		
		div.casella_titolo{
			display:flex;
			gap:1ch;
			align-items:center;
			align-content:center;			
			font-weight:bold;
			text-transform:uppercase;
			margin:0.25em 0;
			

			
			& > div:nth-child(1) {
				flex:0 1 auto;
			}
			& > div:nth-child(2) {
				flex:1 0 auto;
			}
		
			.elementi_elenco {
				margin:0;
			}			
		
		}
		
		.elementi_elenco {
			margin:0;
			margin-bottom:2em;
			padding:0;
		}		
		
	
	
	}
	
	div.user_razze
	{
		
		div.casella_titolo{
			justify-content:center;
		
			& > div:nth-child(2) {
				flex:0 0 auto;
			}		
		}
		
		.razza_icon
		{
			width: 50px;
			height: 50px;
			object-fit: cover;
			object-position:center;
			border:var(--border-default);
			border-radius:50%;
		}
		
		.razza_immagine {
			float:left;
			margin:10px;
			border:var(--border-default);
			
		}
	}
	
	div.pagina_iscrizione{
		
		table{
			
			margin:auto;
			
			td{
				padding:5px;
				
				&:nth-child(1) {
					font-weight:bolder;
				}
				
			}
			
		}
			
			
	
	}
	
/* FINE MODULI */	
@media (orientation: portrait) {
	:root{
		--header-height:100px;		
	}
	
	div#main {
		background:none;
	
		div#site_width {
			width:initial;
			
			div#header{
				flex-wrap:wrap; 
				height:initial;
				.titlecontent{
					background:var(--header-background);
					height: var(--header-height);
					margin-left: initial;					
				}
				 
			}
			
			div#content {
				padding-left:5px;
				padding-right:5px;
				
				div.sidecontent{
					display:contents;
					
					div.side_modules {
						flex:1 1 100%;
						order:99;
						
						&:nth-child(1) {
							order:1;	
						}					
					
					}
				}
				
				div.content_body{
					order:2;
				}
			
			}
		}
	}
	div.logincontent{	
		flex:1 1 100%;
		
		background-color: var(--colore-005);
		border-left: var(--border-default);
		border-right: var(--border-default);
		box-shadow: var(--box-shadow-default);
		clip-path: inset(0 -20px 0 -20px);
	
		
		div.login_form{
			flex:1 1 100%;
			
			margin: 10px;
			background-color: var(--colore-004);
			color: var(--colore-001);
			padding: 10px;
			text-align: center;
			border-radius: 5px;
			overflow: hidden;			
			
			input{
				width:100px;
				&[type="submit"]{
					margin:0;
					
				}
			}
			
			form{
				display:flex;
				flex-wrap:wrap;
				align-items:center;
				gap:1ch;
				& > div {
					flex:1 1 45%;
					text-align:left;
					margin-bottom:0;
				
				}
				
				
			}
		}
	}
	
		div.nav
		{
			ul {
				display:flex;
				flex-wrap:wrap;
				li{
					flex:1 1 50%;
					text-align:center;
				}
			}
		}
}

@media (orientation: landscape) {
	@media screen and (max-width: 1360px) {
		div#main {
			div#site_width {
				width: 100%;
			}
		}		
		
		div.logincontent{	
			flex:2 1 40%;
			div.login_form {
				flex:1 1 100%;
			}
			
		}
	
	}
}