/** * Skin advanced
	* @author Blancks
*/

/** * Parametri di default nella pagina
*/
body{padding:0; margin:0; color:#222; font-family:Verdana,Sans; font-size:11px; background:url("imgs/bg.gif") top left repeat;}

body.transparent_body{background-color:transparent; background-image:none;}

div, ul, li{margin:0; padding:0;}

.blank{clear:both;}

a, a:visited{
	color:#333;
	text-decoration:none;
}

a:hover{
	color:#222;
	font-weight:bolder;
	text-decoration:underline;
}

div.form_field table{
	margin:5px auto;
}

input, textarea, select{
	width:80%;
	margin-bottom:10px;
}

input[type='submit']{
	width:auto;
	margin:5px 0 15px 0;
}

textarea{
	height:100px;
}

div.form_label{
	font-size:13px;
	font-weight:bolder;
	margin-top:5px;
}

div.form_info{
	font-size:12px;
	margin-bottom:15px;
}

select.day, select.month, select.year{
	width:60px;
	display:inline-block;
}

/** * Stile dei messaggi d'avviso dell'engine */ 
div.warning, div.error{
	background-color:#cf8888;
	font-size:12px;
	text-align:center;
	margin:15px;
	font-weight:bolder;
	padding:10px;
	border:solid 1px #800;
	color:#970b0b;
}

div.link_back{
	text-align:center;
	background-color:#d1d1d1;
	padding:2px;
}



/** * Logout */
div.logout_box{
	margin:20px auto;
	padding:10px;
	text-align:center;
	background-color:#D9D9D9;
	border:solid 1px #333;
	-moz-border-radius:5px;		/* Bordi arrotondati */
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
}

div.logout_box a{
	text-decoration:underline;
	font-style:italic;
}


/** * Titoli delle sezioni
*/
div.innertube h2, div.output h2, div.page_title h2{
	font-size:14px;
	font-weight:bolder;
	border-bottom: 1px solid #D9D9D9;
    padding-bottom: 4px;
    margin-top:0;
}


/** * Stile dei contenitori grigi con i bordini arrotondati
*/
div.pagina_info_location, div.msgs, div.menu, div.presenti, div.output{
	margin:5px auto;
	padding:10px;
	width:180px;
	background-color:#b9b9b9;
	border:solid 1px #444;
	-moz-border-radius:5px;		/* Bordi arrotondati */
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
}

div.output{
	position:absolute;
	top:0;
	bottom:0;
	right:0px;
	left:0px;
	width:auto;
	overflow:auto;
	text-align:center;
	background:url("imgs/main_bg.jpg") no-repeat top center #b9b9b9;
}



/** * Informazioni con anteprima luogo
*/
div.info_image{
	text-align:center;
}

div.box_stato_luogo{
	padding-top:2px;
	margin-bottom:15px;
}

div.meteo, div.meteo_date{
	padding-top:5px;
	text-align:center;
	font-size:12px;
}

/** * Frame Messaggi 
*/
iframe.iframe_messaggi{
    height: 20px;
    width: 180px;
}

div.pagina_messaggi{
	text-align:center;
	font-size:14px;
}

div.pagina_messaggi a, div.pagina_messaggi a:visited{
	text-decoration:none;
	color:#444;
}

div.messaggio_forum_nuovo a, div.messaggio_forum_nuovo a:visited{
	font-weight:bolder;
	font-style:italic;
	color:#111;
}


/** * Menï¿½ di gioco
*/
select#gotomap{
	display:block;
	width:160px;
	margin:0 auto 15px auto;
}

div.link_menu{
	padding:0 0 0 20px;
	font-size:14px;
}

div.link_menu a{
	display:block;
	padding:5px;
	text-align:left;
}

div.link_menu a:hover{
	background-color:#cfcfcf;
	text-decoration:none;
	-moz-border-radius:5px;		/* Bordi arrotondati */
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
}

div.link_menu a.sprite {
	display: block;
	width: 50px;
	height: 50px;
	background: no-repeat top left;
}

div.link_menu a.sprite:hover {
	background-position: 0 100%;
}


/** * Mappa cliccabile */

/** * Posizionamento mappa cliccabile 
*/
div.mappaclick_map{
	margin:20px auto;
}


/** * Link testuali sulla mappa */
div.mappaclick_map a{
	font-size:13px;
	font-weight:bolder;
}

/** * stile della tooltip di descrizione sulla mappa 
*/
div#descriptionLoc{
	position:absolute; 
	width:200px;
	background-color:#cfcfcf;
	padding:20px;
	font-size:12px;
	border:solid 1px #666;
	font-family:Verdana,Sans;
	text-align:left;
	
	-moz-border-radius:5px;		/* Bordi arrotondati */
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
	
	display:none;/*NON TOCCARE* Di configurazione: nasconde la tip in partenza */
	z-index:9999;/*NON TOCCARE* Di configurazione: mostra la tooltip sopra gli altri link */
}


/** * Stili relativi all'elenco delle mappe in basso
*/
div.mappaclick_more{
	padding-top:10px;
}

div.mappaclick_more a{
	background-color:#cfcfcf;
	padding:8px;
	margin-right:10px;
	-moz-border-radius:5px;		/* Bordi arrotondati */
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
}



/** * Messages center
*/
div.elenco_record_gioco{
	padding:20px;
}

div.elenco_record_gioco table{
	width:100%;
	background-color:#d1d1d1;
	-moz-border-radius:5px;		/* Bordi arrotondati */
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
}

div.elementi_elenco{
	padding-top:5px;
	text-align:center;
}

div.titoli_elenco{
	font-size:13px;
	font-weight:bolder;
}

img.colonna_elengo_messaggi_icon{
	width:30px;
	height:30px;
}

div.controlli_elenco{
	width:60px;
}

div.controllo_elenco{
	width:20px;
	float:left;
}

div.controllo_elenco input[type='image']{
	width:15px;
}


/** * Ambientazione/Regolamento */
div.user_ambientazione div.elementi_elenco, div.servizi_abilita div.elementi_elenco{
	text-align:left;
	padding:5px;
}

div.user_ambientazione td.casella_titolo div.elementi_elenco, div.servizi_abilita td.casella_titolo div.elementi_elenco{
	font-size:14px;
	font-weight:bolder;
	padding:2px 0 2px 10px;
}




/** * Generico per elenchi, bacheche, regolamento, ambientazione etc */
div.capitolo_elenco{
	font-weight:bolder;
	font-size:13px;
	text-align:left;
	padding:5px 5px 5px 20px;
	background-color:#c9c9c9;
}

div.elementi_elenco{
	min-height:20px;
}

td.casella_elemento, div.elementi_elenco{
	font-size:12px;
	background-color:#d9d9d9;
}


div.controllo_elenco input[type='image']{
	height:15px;
	width:15px;
	display:block;
	margin: 2px 5px;
}


div.elementi_elenco a{
	font-weight:bolder;
}


div.elementi_elenco a:hover{
	text-decoration:none;
}



/** * Stile tabelle nei moduli di gestione */
div.elenco_record_gestione table{
	width:95%;
	margin:10px auto;
}


/** * Accorgimenti Layout */

/** * Allineamento verticale delle colonne 
*/
#framecontentLeft, #framecontentRight { display:table; }

/** * margine delle colonne */
div.innertube{
	margin:0;
	display:table-cell;
	vertical-align:middle;
}

