/** * Skin advanced
	* @author Blancks
*/

/** * Parametri di default nella pagina
*/
body {
    padding: 0;
    margin: 0;
    color: #222;
    font-family: Verdana, Sans;
    font-size: 11px;
    background: url("imgs/bg.gif") top left repeat;
}

body.transparent_body {
    background-color: transparent;
    background-image: none;
}

div, ul, li {
    margin: 0;
    padding: 0;
}

.blank {
    clear: both;
}

a, a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #222;
    font-weight: bolder;
    text-decoration: underline;
}

div.form_field table {
    margin: 5px auto;
}

input, textarea, select {
    width: 80%;
    margin-bottom: 10px;
}

input[type='submit'] {
    width: auto;
    margin: 5px 0 15px 0;
}

textarea {
    height: 100px;
}

div.form_label {
    font-size: 13px;
    font-weight: bolder;
    margin-top: 5px;
}

div.form_info {
    font-size: 12px;
    margin-bottom: 15px;
}

select.day, select.month, select.year {
    width: 60px;
    display: inline-block;
}

/** * Stile dei messaggi d'avviso dell'engine */
div.error, div.warning, div.warning_low,
div.success {
    font-size: 12px;
    text-align: center;
    margin: 15px;
    font-weight: bolder;
    padding: 10px;
}

div.error {
    background-color: #cf8888;
    border: solid 1px #800;
    color: #970b0b;
}

div.warning {
    background-color: #fff3cd;
    border: solid 1px #ffecb5;
    color: #664d03;
}

div.warning_low {
    background-color: #e2e3e5;
    border: solid 1px #d3d6d8;
    color: #41464b;
}

div.success {
    background-color: #d1e7dd;
    border: solid 1px #badbcc;
    color: #0f5132;
}

div.warning.mysql, 
div.error.mysql {
	text-align:left;
	font-weight:normal;
}

div.warning.mysql summary, 
div.error.mysql summary{
	margin-top:1em;
	font-weight:bold;
}

div.link_back {
    text-align: center;
    background-color: #d1d1d1;
    padding: 2px;
}

/** * Logout */
div.logout_box {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #D9D9D9;
    border: solid 1px #333;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.logout_box a {
    text-decoration: underline;
    font-style: italic;
}

/** * Titoli delle sezioni
*/
div.innertube h2, div.output h2, div.page_title h2 {
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 4px;
    margin-top: 0;
}

/** * Stile dei contenitori grigi con i bordini arrotondati
*/
div.pagina_info_location, div.messages, div.forums, div.menu, div.presenti, div.output {
    margin: 5px auto;
    padding: 10px;
    width: 180px;
    background-color: #b9b9b9;
    border: solid 1px #444;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.output {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    left: 0px;
    width: auto;
    overflow: auto;
    text-align: center;
    background: url("imgs/main_bg.jpg") no-repeat top center #b9b9b9;
}

/** * Informazioni con anteprima luogo
*/
div.info_image {
    text-align: center;
}

div.box_stato_luogo {
    padding-top: 2px;
    margin-bottom: 15px;
}

div.meteo, div.meteo_date {
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}

div.meteo_luna img{
    margin:0 auto;
    width: 30px;
    height: 30px;
    display: block;
}

/** * Frame Messaggi 
*/
iframe.iframe_messages,
iframe.iframe_forums {
    height: 20px;
    width: 180px;
}

div.box_messages, .box_forums {
    text-align: center;
    font-size: 14px;
}

div.box_messages a,
div.box_forums a,
div.box_messages a:visited,
div.box_forums a:visited {
    text-decoration: none;
    color: #444;
}

div.messaggio_forum_nuovo a, div.messaggio_forum_nuovo a:visited {
    font-weight: bolder;
    font-style: italic;
    color: #111;
}

/** * Men� di gioco
*/
select#gotomap {
    display: block;
    width: 160px;
    margin: 0 auto 15px auto;
}

div.link_menu {
    padding: 0 0 0 20px;
    font-size: 14px;
}

div.link_menu a {
    display: block;
    padding: 5px;
    text-align: left;
}

div.link_menu a:hover {
    background-color: #cfcfcf;
    text-decoration: none;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.link_menu a.sprite {
    display: block;
    width: 50px;
    height: 50px;
    background: no-repeat top left;
}

div.link_menu a.sprite:hover {
    background-position: 0 100%;
}

/** * Mappa cliccabile */

/** * Posizionamento mappa cliccabile 
*/
div.mappaclick_map {
    margin: 20px auto;
}

/** * Link testuali sulla mappa */
div.mappaclick_map a {
    font-size: 13px;
    font-weight: bolder;
}

/** * stile della tooltip di descrizione sulla mappa 
*/
div#descriptionLoc {
    position: absolute;
    width: 200px;
    background-color: #cfcfcf;
    padding: 20px;
    font-size: 12px;
    border: solid 1px #666;
    font-family: Verdana, Sans;
    text-align: left;

    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    display: none; /*NON TOCCARE* Di configurazione: nasconde la tip in partenza */
    z-index: 9999; /*NON TOCCARE* Di configurazione: mostra la tooltip sopra gli altri link */
}

/** * Stili relativi all'elenco delle mappe in basso
*/
div.mappaclick_more {
    padding-top: 10px;
}

div.mappaclick_more a {
    background-color: #cfcfcf;
    padding: 8px;
    margin-right: 10px;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

/** * Messages center
*/
div.elenco_record_gioco {
    padding: 20px;
}

div.elenco_record_gioco table {
    width: 100%;
    background-color: #d1d1d1;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.elementi_elenco {
    padding-top: 5px;
    text-align: center;
}

div.titoli_elenco,
span.titoli_elenco {
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
}

img.colonna_elenco_messaggi_icon {
    width: 30px;
    height: 30px;
}

div.controlli_elenco {
    width: 60px;
}

div.controllo_elenco {
    width: 20px;
    float: left;
}

div.controllo_elenco input[type='image'] {
    width: 15px;
}

/** * Ambientazione/Regolamento */
div.user_ambientazione div.elementi_elenco, div.servizi_abilita div.elementi_elenco {
    text-align: left;
    padding: 5px;
}

div.user_ambientazione td.casella_titolo div.elementi_elenco,
div.servizi_abilita td.casella_titolo div.elementi_elenco {
    font-size: 14px;
    font-weight: bolder;
    padding: 2px 0 2px 10px;
}

/** * Generico per elenchi, bacheche, regolamento, ambientazione etc */
div.capitolo_elenco {
    font-weight: bolder;
    font-size: 13px;
    text-align: left;
    padding: 5px 5px 5px 20px;
    background-color: #c9c9c9;
}

div.elementi_elenco {
    min-height: 20px;
}

td.casella_elemento, div.elementi_elenco {
    font-size: 12px;
    background-color: #d9d9d9;
}

div.controllo_elenco input[type='image'] {
    height: 15px;
    width: 15px;
    display: block;
    margin: 2px 5px;
}

div.elementi_elenco a {
    font-weight: bolder;
}

div.elementi_elenco a:hover {
    text-decoration: none;
}

/** * Stile tabelle nei moduli di gestione */
div.elenco_record_gestione table {
    width: 95%;
    margin: 10px auto;
}

/** * Accorgimenti Layout */

/** * Allineamento verticale delle colonne 
*/
#framecontentLeft, #framecontentRight {
    display: table;
}

/*** DIARI ***/
.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

/** * margine delle colonne */
div.innertube {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

/**
 * Stili relative alle pagine dei menù:
 * GESTIONE
 * SERVIZI
 */
.gestione_pagina .gestione_incipit,
.servizi_pagina .servizi_incipit {
    background: grey;
    padding: 10px;
    color:black;
    border:1px solid black;
    width: 80%;
    margin:5px auto;
    font-size: 13px;
}

.gestione_pagina .gestione_incipit .title,
.servizi_pagina .servizi_incipit .title {
    font-size: 18px;
    font-weight: bold;
}

.gestione_pagina .gestione_incipit .subtitle,
.servizi_pagina .servizi_incipit .subtitle {
    font-size: 15px;
    font-weight: bold;
}

.gestione_pagina .gestione_incipit .highlight,
.servizi_pagina .servizi_incipit .highlight {
    font-weight: bold;
    color: rgb(177, 71, 71);
}

.gestione_pagina .gestione_incipit ul,
.servizi_pagina .servizi_incipit ul {
    width: 80%;
    margin:0 auto;
}

.gestione_pagina .gestione_incipit ul li,
.servizi_pagina .servizi_incipit ul li {
    padding: 5px 0;
    text-align: left;
}

.gestione_pagina .gestione_form_container,
.servizi_pagina .servizi_form_container,
.form_container{
    width: 90%;
    margin: 5px auto;
}

.gestione_pagina .gestione_form_container .gestione_form,
.servizi_pagina .servizi_form_container .servizi_form,
.form_container .form{
    width: 100%;
}

.gestione_pagina .gestione_form_container .gestione_form_title,
.servizi_pagina .servizi_form_container .servizi_form_title,
.form_container .form .form_title{
    font-size: 15px;
    font-weight: bold;
    border: solid black;
    border-width: 1px 0;
    margin: 10px 0;
    padding: 5px 0;
    clear: both;
}


.gestione_pagina .gestione_form .single_input,
.servizi_pagina .servizi_form .single_input,
.form_container .form .single_input{
    width: 100%;
    margin: 5px;
}

.gestione_pagina .gestione_form .single_input .label,
.servizi_pagina .servizi_form .single_input .label,
.form_container .form .single_input .label{
    font-size: 13px;
    font-weight: bold;
}

.gestione_pagina .gestione_form .single_input .subtitle,
.servizi_pagina .servizi_form .single_input .subtitle,
.form_container .form .single_input .subtitle{
    font-size: 11px;
    width: 50%;
    margin: 0 25%;
}

.gestione_pagina .gestione_form .single_input input textarea select,
.servizi_pagina .servizi_form .single_input input textarea select,
.form_container .form .single_input input,
.form_container .form .single_input textarea,
.form_container .form .single_input select{
    margin: 0 !important;
    max-width: 500px;
}


/*** FAKE-TABLE ***/

.fake-table{
    margin: 5px 0;
}

.fake-table .tr{
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
}

.fake-table .tr .td{
    display: inline-block;
    vertical-align: top;
}

.fake-table .table-subtitle{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
}

.fake-table .table-text{
    margin:5px 0;
    text-align: left;
}