/****************************************************************************/
/* STILE DEI MESSAGGI PRIVATI */

/* HELP: Da qui è possibile modificare:
- I font ed i colori dei messaggi privati
- Le dimensioni e la posizione delle finestre dei messaggi privati
- Lo sfondo dei messaggi privati */

/****************************************************************************/

div.pagina_messages_center {
}

/*Testo delle colonne*/
div.pagina_messages_center div.elementi_elenco {
    height: 40px;
}

/*Testo delle colonne*/
div.pagina_messages_center div.pulsanti_elenco {
    display: inline-block;
}

div.pagina_messages_center div.pulsanti_elenco form {
    float: left;
}

/*************************/
/*Visualizzazione del messaggio singolo*/
div.read_message_box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.read_message_box div.infos {
    clear: both;
    text-align: left;
}

div.read_message_box div.infos span.title {
    font-style: italic;
}

div.read_message_box div.infos span.body {
    font-weight: bold;
}

div.read_message_box_text {
    clear: both;
    border: solid 1px #d9d9d9;
    background-color: #999;
    padding: 10px;
    margin: 20px 0 5px 0;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.read_message_box_forms {
    clear: both;
    margin-bottom: 40px;
}

div.read_message_box_form {
    float: right;
}

div.read_message_box_form input {
    height: 20px;
    width: 20px;
}